:root {
    --bg-color: #000528;
    --theme-color: #ef8a71;
}

body {
    background-color: var(--bg-color);
    color: #eee;
    font-family: 'Cousine', monospace, serif;
    text-align: center;
    letter-spacing: .9px;
}

::selection {
    background: var(--theme-color);
    color: #fff;
}

.container {
    position: relative;
    margin: 5% auto;
    max-width: 50%;
}

a {
    border-bottom: 3px solid var(--theme-color);
    color: inherit;
    text-decoration: none;
}
a:hover {
    background-color: var(--theme-color);
    color: #fff;
}