body {
    background: url(galaxy-alpha.png) #555 center center fixed no-repeat;
    background-size: cover;
    color: #eee;
    font-family: 'Cousine', monospace, serif;
    text-align: center;
}

.container {
    position: relative;
    margin: 5% auto;
    max-width: 50%;
}

a, a:visited, a:hover {
    color:inherit;
    test
}