:root.dark {
  --text-0: rgba(255, 255, 255, 87%);
  --text-1: rgba(255, 255, 255, 60%);

  --bg-0: #000528;
  --bg-1: #0f1224;
  --bg-2: #080b20;

  --primary-color: #ef8a71;
  --hover-color: white;

  .social>img {
    filter: invert(1);
  }
}
